<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input id="file" type="file">
    <div id="div"></div>
    <script type="text/javascript">
        const reader = new FileReader();
        const data = [];
        reader.onload = function () {
            const { result } = reader;
            const lines = result.split("\r\n");
            const r = lines.map(function (item, index) {
                const line = item.split(",");        
                data.push(line);   
            });
            console.log(data);
            document.getElementById('div').innerHTML = JSON.stringify(data)
        }
        document.getElementById('file').onchange = (e) => {
            const str = reader.readAsText(e.target.files[0]);
        }
    </script>
</body>
</html>